// COLORS
$primary-color: #0da394;
$dark-color: #333;
$light-color: #f7f5f5;

  // colors bootstrap
  $theme-colors: (
  "white": #f7f5f5,
  "background": #fbfbfb,
  "primary": #0da394,
  "secondary": #333,
  "black": #333,
);

  //  bg colors
$bg-light: #fbfbfb;
$bg-dark: #494848b4;

// TRANSITION
$transition-time: 0.4s;
