/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './theme/extends.scss';

* {
  margin: 0;
  padding: 0;
}

.container {
  @extend %flex-center;
}

.shadow{
  box-shadow: #1d1d1d 1px 1px 3px;
}

.text-border{
  width: 8%;
  min-width: 30px;
  max-width: 80px;
  height: 4px;
  background-color: #0da394;
}
