/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './theme/extends.scss';
@import './theme/variables.scss';
@import "~bootstrap/scss/bootstrap";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


* {
  margin: 0;
  padding: 0;
  transition: $transition-time;
}

body{
  background-color: $bg-light !important;
  color: $dark-color;
}

.router-container{
  padding-top: 90px !important;
}

.container {
  @extend %flex-center;
  flex-direction: column;
  max-width: 700px;
  padding: 0;

  .content-child{
    width: 100%;
  }

  .title-area{
    width: 100%;

    .title{
      text-transform: uppercase;
    }
    .title-border{
      width: 8%;
      min-width: 30px;
      max-width: 80px;
      height: 4px;
      background-color: #0da394;
    }
  }

}

.shadow-bx-lt{
  box-shadow: 0 32px 64px hsla(0, 0%, 62%, 0.5);
}

.shadow-bx-bd{
  box-shadow: #5f5656c7 1px 3px 20px;
}

@media(min-width: 768px) {
  .only-mobile{
    display: none;
  }
}

@media(max-width: 767px) {
  .only-desktop{
    display: none;
  }
}

