*{
    margin: 0;
    padding: 0;
}

body{
    color: rgb(206, 206, 206);
    font-family: monospace;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main{
    background-color: rgb(27, 27, 27);
    height: 100vh;
    width: 100vw;
    font-size: 20px;
}


.content{
    animation: showStuffs 3s ease-in-out;
    height: 100%;
    width: 100%;
}

@keyframes showStuffs {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes rgbColors {
    0%{border: 0.5px solid blue;}
    16%{border: 0.5px solid green;}
    32%{border: 0.5px solid yellow;}
    48%{border: 0.5px solid red;}
    64%{border: 0.5px solid purple;}
    80%{border: 0.5px solid orange;}
    100%{border: 0.5px solid blue;}
}

#key{
    background-color: transparent;
    animation: rgbColors 8s infinite linear;
    font-size: 24px;
    color: rgb(206, 206, 206);
    padding: 5px 15px;
    margin: 20px;
    text-align: center;
    width: 240px;
}

#key:focus{
    outline: none;
}

