@import '../../../styles.scss';

.container{
  .content-child{
  .card-deck {
    @extend %flex-center;
    align-items: flex-start;

    .card {
      min-width: 17.5rem;
      max-width: 19.5rem;

      .card-img-container{
        @extend %flex-center;
        // min-height: 130px;
        height: 130px;
        width: 100%;

        .card-img-top{
          @extend %flex-center;
          max-height: 130px;
          width: auto;
          max-width: 230px;
        }
      }
    }
  }
}
}
