<section class="container pt-4 pb-5" id="about-me">
<section class="content-child shadow-bx" on-mouseover="cardHover=true" (mouseleave)="cardHover=false" [ngClass]="{'container-hover': cardHover}">
  <div class="title-area pl-3">
    <h2 class="title">{{date.title}}</h2>
    <div class="title-border"></div>
  </div>
  <!-- <h1>Breno Nunes</h1> -->
  <div class="card pt-3">
    <img src="../../../assets/img/me.jpg" class="card-img-top shadow-bx" alt="Breno Nunes">
    <div class="card-body p-0 pb-3 pt-5">
      <h5 class="card-title">{{date.myName}}</h5>
      <p class="card-text" *ngFor="let intro of date.intros">{{intro}}</p>
      <div class="text-hided only-desktop" [ngClass]="{'card-text-hover': cardHover}">
        <p class="card-text" *ngFor="let textExtra of date.textsExtra">{{textExtra}}</p>
      </div>
      <!-- <p class="read-btt only-mobile mt-1" *ngIf="!cardHover" (click)="toggleText()">Ler Mais</p> -->
      <!-- <button type="button" class="btn btn-dark" *ngIf="!cardHover">Ler Mais</button>
        <button class="btn btn-secondary only-mobile mt-3" (click)="toggleText()" *ngIf="cardHover">Encolher Texto</button> -->
    </div>
  </div>
</section>
</section>
