@import '../../../styles.scss';


.container {

  .content-child{
    flex-direction: column;
    background-color: $bg-light;
    // background-color: $primary-color;
    // color: $light-color;
    border-radius: 5px;
    transition: $transition-time;
    padding: 1rem;
    border: 2.5px solid $primary-color;

    .title-area {
      width: 100%;

  }

  .card {
    max-width: 550px;
    @extend %flex-center;
    border-color: transparent;
    background-color: transparent;
    transition: $transition-time;
    margin: 0 3rem 3rem;

    img {
      max-width: 200px;
      height: auto;
      border-radius: 100%;
    }

    .card-body{

      .card-title{
        font-size: 2rem;
      }

      .card-text{
        font-size: 1.1rem;
      }

      .read-btt{
        color: $dark-color;
        font-size: 19px;
        cursor: pointer;
      }
    }

    .text-hided {
      transition: max-height ($transition-time + 1s);
      overflow: hidden;
      max-height: 0;
    }

    .card-text-hover {
      max-height: 500px;
    }
  }
}
  .container-hover {
    padding: 2.5rem;
    box-shadow: 0 32px 64px hsla(0, 0%, 35%, 0.753);
  }
}



@media(max-width:768px) {
  .container {
    .content-child{
      .card {
        margin: 0;
        img {
          max-width: 150px;
        }
      }
    }
    .container-hover {
      padding: 1rem;
    }
  }
}
